body{
    margin:0;
    padding:0;
    overflow-x: hidden;

    font-family: 'Lato', sans-serif;
    
}
.header1{
    padding:2px 0;
}
.LMS{
    background-color: #4054b2;
    width:fit-content;
    height:45px;
    padding:5px 25px 0 25px;
}
.LMS p{
    color:white;
    font-size:20px;
}
.header1{
    background-color: black;
}
.header1left a{
    text-decoration: none;
}
.LMS:hover{
    background-color:  #3068AB;
}
.header1left i{
    color:white;
    margin-left:30px;
}
.header1left i:hover{
    background-color: #3068AB;
    padding: 10px 15px;
    
}
.header1left :nth-child(2){
    margin-left:-20px;
}
.header1right{
    color:white;
    font-size: 15px;
    width:100%;
    
}
.numail i{
    margin-left:20px;
    margin-right: 20px;
}
.admit{
    margin-left:40px;
}
.logo img{
    height:55px;
    max-width: 477px;
}
.header2{
    margin-left:150px;
    text-align: end;
    
}
.list li{
    margin-left:23px;
}
.drop li{
    height:40px;
    width:100%;
    
    font-size: 12px;
    margin-left:-1px;
    
}
.drop li:hover,.drop li a:hover{
    background-color: #4054B2;
    
    
    
}
.col1 h3{
 font-size: 35px;   
}
.col2{
    
    padding:0;
    
}
.wrap{
    background-color: #2f6ba5;
    padding:120px 0;
}
.col2 iframe{
    width:100%;
    min-height: fit-content;
}
.col1 h3,p{
    color:white;
}
.courses{
    width:fit-content;
    background-color: white;
    padding:20px 60px;
    margin-right: 15px;
}
.inquiry{
    width:fit-content;
    background-color: #2eadbc;
    padding:20px 60px;
    color:white;
}
.courses i,.inquiry i{
    margin-right:10px;
}
.col1 h3,.col1 p{
    margin-bottom:20px;
}
.box{
    margin-top:40px;
}
.program{
    background-color: #eef3f7;
    width:100%;
    min-height: 200px;
    padding:100px 0;
}
.program p{
    color:black;
}
.program p,.program h4{
    margin-bottom: 25px;
}
.col3,.col4{
    background-color: #3571CB;
    width:552.8px;
    height: 330px;
     padding:0;
    position: relative;
}
.col3{
    margin-right:65px;
}
.col3 img,.col4 img{
    max-height:100%;
    width:100%;
    object-fit: cover;
    opacity:0.2;
}
.content{
    position: absolute;
    top:0;
    left:0;
    margin:50px 65px 0 65px;
}
.content h6{
    color:white;
    font-size: 25px;
}
.content h5{
    color:white;
    font-size: 30px;
    margin-top: -13px;
    margin-bottom: 25px;
}
.content p{
    color:white;
}
.details a{
    color:white;
    text-transform: uppercase;
    text-decoration: none;
}
.col6 img{
    width:100%;
    object-fit: cover;
}
.col5{
    margin-right:65px;

}
.col6,.col5{
    width:100%;
    min-height:200px;
    padding:0;
    
}

.about1{
    font-weight: bold;
    margin-bottom: 20px;
}
.p1{
    font-size: 35px;
    margin-bottom: 20px;

    line-height: 1;
}
.create{
    padding:120px 0;
}

.learnmore{
    margin-top: 40px;
    padding:13px 45px;
    background-color: #0d1b3a;
    width:fit-content;
    height:fit-content;
}

.learnmore a{
    text-decoration: none;
    color:white;
    text-transform: uppercase;
}
.learnmore a i{
    margin-right: 10px;
}
.attachmentbackground{
    width:100%;
    height:700px;
    background-image: url(../img/softwarica-vr-ar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding:0;
    position: relative;
    
}
.wrappers{
    width:100%;
    height:700px;
    background-image: linear-gradient(90deg, #ffffff 42%, #081dd6 65%);
    opacity: 0.4;
    
}
.header{
    position:sticky;
    background-color: white;
    z-index: 100;
    top:0;
}
.wrapperscontent{
    
    height:500px;
    width:470px;
    background-color: rgba(255,255,255,0.88);

    padding:30px;
    position:absolute;
    top:100px;
    left:80px;
    
}

.p3{
    font-size: 20px;
    margin-bottom: 15px;

}
.p4{
    font-size: 30px;
    margin-bottom:15px;
}
.p5{
    color:#6b6b3a;
    margin-bottom: 15px;
}
.know a{
    color:#4099D8;
    text-decoration: none;
    text-transform: uppercase;
}
.blogs{
    width:100%;
    height:1200px;
    background-color: white;
    padding-top:80px;
}
.blog{
    
    font-size: 30px;
    text-align: center;
    margin-bottom:10px;
}
.card{
    width:100%;
}
.cards{
    
    position:relative;
    margin-right:35px;
}
.cards1{
    background-color: purple;
    margin-right:35px;
}
.cards2{
    background-color:yellow ;
}
.card1 img{
    width:100%;
    height:300px;
    object-fit: cover;
}

.badge{
    text-transform: uppercase;
    color:black;
    width:fit-content;
    font-size: 
    15px;
    padding:5px 20px;
    background-color:#54595F;
    border-radius: 25px;
    color:white;
    position:absolute;
    top:20px;
    right:20px;
}
.avatar img{
    height:70px;
    width:70px;
    border-radius: 100%;

    position: relative;
    top:-50px;
    left:20px;

}
.avatar p{
    color:black;
}
.cardtitle{
    font-size: 30px;
    margin-top: 
    -35px;
    margin-bottom: 20px;
    
}

.cardtitle a{
    text-decoration: none;

    color: black;
}
.cardtitle a:hover{
    text-decoration: 
    underline;
}
.cardtext{
    color: #777977;
    margin-bottom: 20px;
}
.readmore{
    color:#777977;
    margin-bottom:82px;}
.readmore a{
    text-decoration: 
    none;
    color:#777977;
    

}
.readmore0{
    margin-bottom: 23px;
}

.readmore a:hover,.readmore0 a:hover,.readmore1 a:hover{
    text-decoration: underline;

}
.may::after{
    content: '\00B7';
    margin-right:10px;
    margin-left: 10px;
    font-size: 20px;
}
.maycom{
    color:#777;
}


.box-img{
    height:103.89px;
    width:143.5px;
    margin-right: 80px;
}
.box-img img,.box-img1 img,.box-img2 img,.box-img3 img{
    width:100%;
    
}
.box-img1{
    width:143.5px;
    height:40.26px;
    margin-right: 80px;
   
}
.box-img2{
    width:143.5px;
    height:110.26px;
    margin-right: 80px;
}
.box-img3{
    width:143.5px;
    height:119.58px;
}
.images{
    margin-top: 120px;
    
}
.readmore1{
    margin-bottom:12px;
}
.readmore1 a{
    
    color:#777977;
    text-decoration:none;
}
.readmore0 a{
    text-decoration: 
    none;
    color:#777977;

}
.facebookicon{
   height:60px;
   width:60px;

   background-color: pink;
   padding:15px;
   border-radius: 
   100%;
   position:fixed;
   bottom:10px;
   right:30px;
}
.facebookicon i{
    font-size: 30px;
    color:white;
}

.footer .col{
    height:300px;
    width:100%;
   
    margin-right:10px;
}
.footer{
    height:fit-content;
    width:100%;
    background-color: #001c38;
    
    padding:80px 0 20px 0;
}
.colrow1 img{
    width:200px;
    height:37.73px;
    margin-bottom:20px;
}

.facebook{
    width:fit-content;
    height:fit-content;
    background-color: #3b5998;
    padding:3px 10px;
    border-radius: 10%;
    margin-right: 5px;
}
.facebook i,.instagram i,.youtube i{
    color:white;
}

.instagram{
    width:fit-content;
    height:fit-content;
    background-color: #262626;
    padding:3px 10px;
    border-radius: 10%;
    margin-right:5px;
}

.youtube{
    width:fit-content;
    height:fit-content;
    background-color: #cd201f;
    padding:3px 10px;
    border-radius: 10%;
}
.lists{
    display: none;
    
}
.lists:hover{
    display:block;
} 
.icon{
    margin-top: 40px;
}
.link{
    font-size: 20px;
}
.colrow2 ul{
    margin-left:-29px;
}
.colrow2 ul li{
    list-style-type: none;
    margin-bottom:25px;
}
.colrow2 ul li a{
    text-decoration: none;
    color:white;
}
.colrow3 ul{
    margin-left:-29px;
}
.colrow3 ul li{
    list-style-type: none;
    margin-bottom:25px;
}
.colrow3 ul li a{
    text-decoration: none;
    color:white;
}
.colrow4 i,.colrow4 #number,.colrow4 #email,.colrow4 #locate{
    color:white;
    margin-right:10px;
    margin-bottom:10px;
}

.colrow4 iframe{
    margin-top:20px;
}
.lastfooter{
    border-top: 2px solid grey;
    margin-top:140px;
    color:white;
    height:fit-content;
    

    padding:30px 0 0 0;
    
}
.lastfooter i{
    font-size: 10px;
    margin-right: 5px;
   
    
}
